In [1]:
import yfinance as yf
import pandas as pd

In [2]:
def stock_return_cal(directory, startdate):
    df = pd.read_excel(directory)
    stock_list = df['Stock code'].tolist()
    stock_df = yf.download(stock_list, startdate)
    stockreturn = {}
    for stock in stock_list:
        return1= 100*(stock_df.iloc[-1]['Close'][stock] - stock_df.iloc[0]['Close'][stock])/(stock_df.iloc[0]['Close'][stock])
        stockreturn[stock] = return1
    stockreturn = dict(sorted(stockreturn.items(), reverse=True, key=lambda item: item[1])[:5])
    stockreturnlist=list(stockreturn.items())
    return stockreturnlist

In [3]:
stock_return_cal('C:/Python Work/Stock_monitoring_list1.xlsx', '2020-01-01')

[*********************100%***********************]  50 of 50 completed

[('0388.HK', 83.87096736388709),
 ('0700.HK', 62.39540008154514),
 ('2313.HK', 49.95641201072931),
 ('0175.HK', 41.66666564778387),
 ('2382.HK', 41.22302377824303)]

In [4]:
df2 = yf.download('^HSI','2018-01-01','2020-12-14')

[*********************100%***********************]  1 of 1 completed

In [5]:
df2

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,30028.289062,30515.310547,30028.289062,30515.310547,30515.310547,2442333400
2018-01-03,30658.730469,30724.320312,30456.759766,30560.949219,30560.949219,2309467700
2018-01-04,30691.710938,30796.929688,30560.429688,30736.480469,30736.480469,2995571100
2018-01-05,30893.859375,30911.009766,30638.529297,30814.640625,30814.640625,2263930100
2018-01-08,30895.089844,30929.150391,30732.539062,30899.529297,30899.529297,2004162500
...,...,...,...,...,...,...
2020-12-07,26870.580078,26870.580078,26256.400391,26506.849609,26506.849609,2806021200
2020-12-08,26460.349609,26460.349609,26270.910156,26304.560547,26304.560547,2542680300
2020-12-09,26510.419922,26666.939453,26445.660156,26502.839844,26502.839844,2537716200
2020-12-10,26335.259766,26434.470703,26287.019531,26410.589844,26410.589844,2000568900
2020-12-11,26634.210938,26704.009766,26443.009766,26505.869141,26505.869141,2497420400

In [6]:
df2['Volatility'] = df2['High'] - df2['Low']

In [7]:
df2['GAP'] = df2['Open'] - df2['Close'].shift(1)

In [8]:
df2['SMA50'] = df2['Close'].rolling(50).mean()

In [9]:
month_diff = df2['Close'].resample('M').max() - df2['Close'].resample('M').min()

In [10]:
year_diff = df2['Close'].resample('Y').max() - df2['Close'].resample('Y').min()

In [11]:
month_diff

Date
2018-01-31    2638.810547
2018-02-28    3182.458984
2018-03-31    1715.058594
2018-04-30    1379.021484
2018-05-31    1614.580078
2018-06-30    3156.371094
2018-07-31     910.041016
2018-08-31    1507.240234
2018-09-30    1628.300781
2018-10-31    2540.851562
2018-11-30    1266.560547
2018-12-31    1781.558594
2019-01-31    2878.111328
2019-02-28    1058.460938
2019-03-31    1237.859375
2019-04-30     607.689453
2019-05-31    3180.460938
2019-06-30    1859.900391
2019-07-31    1097.810547
2019-08-31    2284.398438
2019-09-30    1824.839844
2019-10-31    1223.910156
2019-11-30    1523.541016
2019-12-31    2256.830078
2020-01-31    2743.789062
2020-02-29    1829.669922
2020-03-31    5071.738281
2020-04-30    1557.800781
2020-05-31    1671.919922
2020-06-30    1324.701172
2020-07-31    1743.810547
2020-08-31    1174.150391
2020-09-30    1949.429688
2020-10-31    1151.000000
2020-11-30    2434.669922
2020-12-31     531.359375
Freq: M, Name: Close, dtype: float64

In [12]:
year_diff

Date
2018-12-31    8568.591797
2019-12-31    5093.130859
2020-12-31    7360.289062
Freq: A-DEC, Name: Close, dtype: float64

In [13]:
def check_max(stockcode):

    stock_df = yf.download(stockcode)
    if (((stock_df['Close'].rolling(20).max().iloc[-1])-stock_df.iloc[-1]['Close'])/stock_df.iloc[-1]['Close'])*100 > 0.01:
        return True
    else:
        return False